# While Loop

While condition :
    statements

## Syntax

In [3]:
i=1
while i<7 :
    print("hello")
    i= i+1

hello
hello
hello
hello
hello
hello

In [25]:
# Print even numbers from 100 to 1 in decending order
i=100
while i>1 :
    print(i)
    i= i-2

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

# For Loop

In [3]:
# sum of elements in a list
numbers = [1, 2, 3, 4, 5]
total = 0
for i in numbers:
    total += i 
    print(total)

1
3
6
10
15

In [ ]:
a = [10, 20, 30, 40]

# Initialize a variable to hold the sum
res = 0

# Loop through each value in the list
for val in a:
  
    # Add the current value to the sum
    res += val

print(res)

In [31]:
#Write program to input "Hello" 5 times with for loop.
for i in range (0,5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [37]:
# Write program to print even numbers from 100 to 1 in decending order using for loop
for i in range (100,0,-2):
    print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

## Continue Statement

In [53]:
## Continue Statement
for i in range (100,0,-2):
    if i == 50:
        continue 
    print(i)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

## Break statement

In [38]:
# Break statement 
for i in range (0,6):
    print(i)
    if i==3:
        break

0
1
2
3

## Keywords

In [56]:
#Keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Multiple Iteration

In [58]:
# Multiple Iteration
x,y,z = "ICT", "DSA", 2024
print(x)
print(y)
print(z)

ICT
DSA
2024

## Standard Input

In [6]:
#Standard Input
name = input("Enter your name: ")
print(name)

Enter your name:  Anjana

Anjana

In [60]:
name = input("Please enter your name: ")
print("Welcome",name)

Please enter your name:  Anjana

Welcome Anjana

## Print

In [7]:
# Print
a=10
b=20
print("a=",a)
print("b=",b)
print("a= {} and b={}".format(a,b))
print("a= {1} and b={0}".format(a,b))
print("Hello {},Welcome to DSA class!!".format(name))

a= 10
b= 20
a= 10 and b=20
a= 20 and b=10
Hello Anjana,Welcome to DSA class!!

In [70]:
# Write a program to print multiplication table 1-10 of a number input from the user
x= input("Input a number (1-10:")
n=int(x)
i=1
while i<=10:
    print("{} * {} = ".format(i,n), i*n)
    i=i+1

Input a number (1-10: 2

1 * 2 =  2
2 * 2 =  4
3 * 2 =  6
4 * 2 =  8
5 * 2 =  10
6 * 2 =  12
7 * 2 =  14
8 * 2 =  16
9 * 2 =  18
10 * 2 =  20